<template>
    <div class="menu-option" :class="{active : dropDown}" @click="dropDown = !dropDown">
        <div class="menu-option__primary">
            <div>{{ text }}</div>
            <div v-if="open"><img src="../../assets/desktop/Vector.png"/></div>
        </div>
        <div class="menu-option__collapsible" v-if="dropDown && text==='CODE'">
            <div class="menu-option__collapsible__element">Backend</div>
            <div class="menu-option__collapsible__element">Frontend</div>
            <div class="menu-option__collapsible__element">Documentación</div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'menu-option',
        props: ['text', 'open'],
        data() {
            return {
                dropDown: false
            }
        },
        mounted() {

        },
        methods: {},
        computed: {}
    }
</script>
<style lang="scss">
    .menu-option {
        border-bottom: 0.5px solid #d1d1d1;
        display: flex;
        flex-direction: column;
        font-size: 16px;
        justify-content: space-between;
        padding: 15px 25px;
        width: 100%;

        img {
            width: 15px;
        }

        &:hover {
            background: #ffffff;
            box-shadow: 1px 2px 11px rgba(200, 200, 200, 0.34);
        }

        &.active {
            background: #ffffff;
            box-shadow: 1px 2px 11px rgba(200, 200, 200, 0.34);

            img {
                transform: rotate(180deg);
            }
        }

        &__primary {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        &__collapsible {
            background: #ffffff;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            font-size: 14px;
            padding: 15px;

            &__element {
                padding: 10px 0;
            }

            &__element:hover {
                background: #f0efef;
                margin: 0 -40px;
                padding-left: 40px;
            }
        }
    }

    /* Use a media query to add a breakpoint at 800px: */
    @media screen and (max-width: 800px) {

        .menu-option {
            font-size: 13px;
            padding: 15px 10px;

            &.active {
                background: #c6dde3;
                box-shadow: 1px 2px 11px rgba(200, 200, 200, 0.34);

                img {
                    transform: rotate(180deg);
                }
            }

            &:hover {
                background: #c6dde3;
                box-shadow: 1px 2px 11px rgba(200, 200, 200, 0.34);
            }

            &__collapsible {
                background: #c6dde3;
            }
        }
    }

</style>
