<template>
    <div class="nakima-menu">
        <menu-option :text="'GENERAL'" :open="true"/>
        <menu-option :text="'PRODUCCIÓN'" :open="true"/>
        <menu-option :text="'VENTAS'" :open="true"/>
        <menu-option :text="'DISEÑO'" :open="true"/>
        <menu-option :text="'CODE'" :open="true"/>
        <menu-option :text="'ADMINISTRACIÓN'" :open="false"/>
    </div>
</template>
<script>
    import MenuOption from "./MenuOption"

    export default {
        name: 'nakima-menu',
        components: {MenuOption}
    }
</script>
<style lang="scss">

    .nakima-menu {
        padding: 30px;
        min-width: 300px;
    }


    /* Use a media query to add a breakpoint at 800px: */
    @media screen and (max-width: 800px) {
        .nakima-menu {
            min-width: 0;
            width: 100%;
            padding: 10px;
        }
    }

</style>
