<template>
    <div class="add-answer">
        <div class="add-answer__banner" @click="showDialog = !showDialog">
            <div class="add-answer__banner__image"></div>
            <div>Añadir Respuesta</div>
        </div>
        <div v-if="showDialog" class="add-answer__dialog">
            <div class="add-answer__dialog__close" @click="showDialog = false"></div>
            <div class="add-answer__dialog__text">Escribe aquí tu respuesta</div>
            <div class="add-answer__dialog__submit" @click="showDialog = false">
                <div>Añadir comentario</div>
                <div class="add-answer__dialog__submit__arrow"></div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'add-answer',
        data() {
            return {
                showDialog: false
            }
        }
    }
</script>
<style lang="scss">
    @import '../../assets/variables';

    .add-answer {
        height: 60px;
    }

    .add-answer__banner {
        background: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        color: $blue-font-color;
        padding: 20px 0;
        box-shadow: 0 2px 6px rgba(186, 186, 186, 0.25);

        &:hover {
            cursor: pointer;
        }
    }

    .add-answer__banner__image {
        background: url('../../assets/desktop/Component 5.png') no-repeat;
        background-size: 20px;
        height: 20px;
        width: 20px;
        margin-right: 10px;
    }

    .add-answer__dialog {
        position: relative;
        width: 600px;
        height: 300px;
        background: #ffffff;
        box-shadow: 0 4px 6px rgba(186, 186, 186, 0.25);
        border: 1px solid #f4f4f4;
        bottom: 200px;
        left: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px;
    }

    .add-answer__dialog__close {
        align-self: flex-end;
        background: url('../../assets/mobile/Component 7-1.png') no-repeat;
        background-size: 20px;
        height: 20px;
        width: 20px;
        padding: 20px 0;
    }

    .add-answer__dialog__text {
        border: 1px solid #d1d1d1;
        font-style: italic;
        font-size: 14px;
        color: #9d9d9d;
        height: 300px;
        padding: 20px;
        margin: 0 30px;
    }

    .add-answer__dialog__submit {
        align-self: flex-end;
        margin-right: 30px;
        margin-top: 20px;
        border: 2px solid #a7bec5;
        color: #a7bec5;
        padding: 5px 10px;
        font-size: 16px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 220px;
    }

    .add-answer__dialog__submit__arrow {
        background: url('../../assets/desktop/arrow blue.png') no-repeat;
        background-size: 50px;
        width: 50px;
        height: 20px;
        padding-top: 5px;
        margin-top: 8px;
    }

    /* Use a media query to add a breakpoint at 800px: */
    @media screen and (max-width: 800px) {
        .add-answer__banner {
            font-size: 15px;
        }

        .add-answer__dialog {
            width: 100%;
            left: 0;
            padding: 20px;
        }

        .add-answer__dialog__close {
            background-size: 10px;
            height: 15px;
            width: 15px;
            padding: 5px;
        }

        .add-answer__dialog__text {
            font-size: 12px;
            padding: 10px;
        }

        .add-answer__dialog__submit {
            font-size: 13px;
        }
    }

</style>
