<template>
    <div class="answer-card">
        <nakima-user class="answer-card__user" :imageUrl="imageUrl" :user="user" :imgHeight="'30px'" :imgWidth="'30px'"></nakima-user>
        <p>{{ text }}</p>
        <likeness class="answer-card__feedback" :likes="likes" :dislikes="dislikes"/>
    </div>
</template>

<script>
    import NakimaUser from "../NakimaUser";
    import Likeness from "../Common/Likeness";
    export default {
        name: 'answer-card',
        props: ['imageUrl', 'user', 'text', 'likes', 'dislikes'],
        components: {Likeness, NakimaUser},
    }
</script>
<style lang="scss">
    .answer-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: #ffffff;
        box-shadow: 0 2px 6px rgba(186, 186, 186, 0.25);
        border-top: 0.75px solid #d1d1d1;
        padding: 20px;
    }

    .answer-card__user {
        font-size: 20px;
    }

    .answer-card > p {
        font-size: 17px;
        padding: 10px 20px;
    }

    .answer-card__feedback {
        align-self: flex-end;
    }

    /* Use a media query to add a breakpoint at 800px: */
    @media screen and (max-width: 800px) {

        .answer-card {

        }

        .answer-card__user {
            font-size: 15px;
        }

        .answer-card > p {
            font-size: 13px;
            white-space: normal;
            padding: 10px 20px;
        }

        .answer-card__feedback {
            font-size: 11px;
        }
    }

</style>
