<template>
    <div class="nakima-answers">
        <answers class="nakima-answers__amount" :answers="6"/>
        <add-answer/>
        <answer-card :imageUrl="'Natalia-Lafourcade-2.jpg'" :user="'Nat Nakima UX UI Designer'"
                     :text="'Yo propongo que no vayamos.\nNo voy a esquiar y prefiero mil veces más pasar el día con mi gato.\nPero bueno que como queráis, si quereis ir perfecto pero no conteis conmigo.\nAprovechad ahora que hay nieve'"
                     :likes="5" :dislikes="0"/>
        <answer-card :imageUrl="'images-12.jpeg'" :user="'Pau Nakima Programmer'"
                     :text="'Ei que tal tots?\nA mi em sembla be si, pero quan ho voleu fer un finde?\nJo normalment tinc partits els dissabtes pero no us preocupeu, si fem l\'esquiada\n en un finde que no tingui partit compteu amb mi totalment'"
                     :likes="2" :dislikes="0"/>
        <answer-card :imageUrl="'quim-gutierrez-la-discreta-vida-privada-del-galan-desconocido.jpg'" :user="'Quim Nakima Programmer'"
                     :text="'Bueno...si, jo no se si podré venir pero ja direu i miro a veure que tal em va.\nSegurament hauré de dir-ho més endavant.\nPerò que voleu anar a Andorra? Potser seria millor anar a Vic.'"
                     :likes="8" :dislikes="0"/>
    </div>
</template>

<script>
    import Answers from "../Common/Answers";
    import AddAnswer from "./AddAnswer";
    import AnswerCard from "./AnswerCard";

    export default {
        name: 'nakima-answers',
        components: {AnswerCard, AddAnswer, Answers},
    }
</script>
<style lang="scss">
    @import '../../assets/variables';

    .nakima-answers {
        width: 100%;
        max-width: 750px;
    }

    .nakima-answers__amount {
        visibility: hidden;
    }

    /* Use a media query to add a breakpoint at 800px: */
    @media screen and (max-width: 800px) {

        .nakima-answers {

        }

        .nakima-answers__amount {
            visibility: visible;
            font-size: 12px;
            padding-bottom: 20px;
            padding-left: 45px;
        }
    }

</style>
