<template>
    <div class="nakima-question">
        <div class="nakima-question__date">{{ date }}</div>
        <div class="nakima-question__title">{{ question }}</div>
        <nakima-user class="nakima-question__user" :imageUrl="'belleza-trucos-salir-guapa-fotos-848x477x80xX.jpg'"
                     :user="'Emma Nakima UX UI Developer'" :imgHeight="'20px'" :imgWidth="'20px'"/>
        <p class="nakima-question__text">
            En la retrospectiva de hoy se ha propuesto por segunda y última vez hacer una esquiada con los participantes
            de Nakima.<br/>Se proponen dos opciones posibles, Andorra y Port Ainé.<br/>El finde deberá ser discutido
            para ver cual es el finde que todos pueden.
        </p>
        <div class="nakima-question__footer">
            <div class="nakima-question__footer__feedback">
                <views :views="56"/>
                <answers class="nakima-question__footer__feedback__answers" :answers="6"/>
                <likeness :likes="32" :dislikes="1"/>
            </div>
            <div class="nakima-question__footer__pages">
                <pagination/>
            </div>
        </div>
    </div>
</template>

<script>
    import NakimaUser from "../NakimaUser";
    import Views from "../Common/Views";
    import Answers from "../Common/Answers";
    import Likeness from "../Common/Likeness";
    import Pagination from "../Common/Pagination";

    export default {
        name: 'nakima-question',
        components: {Pagination, Likeness, Answers, Views, NakimaUser},
        props: ['date', 'question'],
    }
</script>
<style lang="scss">
    .nakima-question {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: #ffffff;
        box-shadow: 0 2px 6px rgba(186, 186, 186, 0.25);
        border: 1px solid #f4f4f4;
        padding: 20px;
        max-width: 750px;
    }

    .nakima-question__date {
        align-self: flex-end;
        font-size: 16px;
    }

    .nakima-question__title {
        font-size: 20px;
        font-weight: bold;
    }

    .nakima-question__user {
        padding-top: 20px;
        font-style: italic;
        font-size: 16px;
    }

    .nakima-question > p {
        font-size: 17px;
        padding: 20px 0;
    }

    .nakima-question__footer {
        border-top: 0.75px solid #dfdfdf;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        margin: 0 -20px;
        height: 30px;
    }

    .nakima-question__footer__feedback {
        display: flex;
        flex-direction: row;
        padding-left: 20px;
        padding-top: 20px;
        font-size: 12px;
    }

    .nakima-question__footer__pages {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 20px;
    }

        /* Use a media query to add a breakpoint at 800px: */
    @media screen and (max-width: 800px) {
        .nakima-question {
            margin: 20px;
        }
        .nakima-question__date {
            font-size: 11px;
        }

        .nakima-question__title {
            font-size: 13px;
        }

        .nakima-question__user {
            font-size: 13px;
        }

        .nakima-question > p {
            font-size: 13px;
        }

        .nakima-question__footer {
            font-size: 11px;
        }

        .nakima-question__footer__feedback {
            padding-left: 0;
            font-size: 11px;
        }

        .nakima-question__footer__feedback__answers {
            display: none;
        }

        .nakima-question__footer__pages {
            font-size: 15px;
        }
    }

</style>
