<template>
    <div class="calendar-event">
        <div class="calendar-event__bullet">
            <img src="../../assets/desktop/Ellipse 5.png"/>
        </div>
        <div class="calendar-event__info">{{ date }} - {{ text }}</div>
    </div>
</template>

<script>
    export default {
        name: 'calendar-event',
        props: ['date', 'text'],
    }
</script>
<style lang="scss">
    .calendar-event {

        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: center;
        padding: 20px;

        &__bullet {
            height: 15px;
            width: 15px;
        }
    }

</style>
