<template>
    <div class="nakima-calendar">
        <div class="nakima-calendar__title">CALENDARIO NAKIMA</div>
        <calendar-event :date="'25 / 6 / 2020'" :text="'Comida de empresa Nakima'"/>
        <div class="nakima-calendar__empty-event">No hay más eventos disponibles</div>
    </div>
</template>
<script>
    import CalendarEvent from "./CalendarEvent"

    export default {
        name: 'nakima-calendar',
        components: {CalendarEvent}
    }
</script>
<style lang="scss">
    .nakima-calendar {
        align-items: center;
        background: #ffffff;
        box-shadow: 1px 2px 11px rgba(200, 200, 200, 0.34);
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: space-between;
        width: 250px;

        &__title {
            background: linear-gradient(90deg, #c6dde3 0%, #a0c4cd, #c6dde3);
            color: white;
            font-size: 16px;
            width: 100%;
            padding: 20px 0;
            text-align: center;
            font-weight: bold;
        }

        &__empty-event {
            background: #ebebeb;
            padding: 10px 0;
            width: 100%;
            margin: 0 -20px;
            text-align: center;
            font-style: italic;
            color: #979797;
        }
    }

</style>
