<template>
    <div class="side">
        <nakima-menu/>
        <nakima-calendar/>
    </div>
</template>

<script>
    import NakimaMenu from "./Menu/NakimaMenu";
    import NakimaCalendar from "./Calendar/NakimaCalendar";

    export default {
        name: 'nakima-lateral',
        components: {NakimaCalendar, NakimaMenu}
    }
</script>


<style lang="scss">

    .side {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 35vw;
        margin-left: 100px;
    }

    /* Use a media query to add a breakpoint at 800px: */
    @media screen and (max-width: 800px) {

        .side {
            display: none;
        }
    }

</style>
