<template>
    <footer>
        <div class="logo">
            <img src="../assets/desktop/image 3.png"/>
            <div>&copy; 2020 · Nakima Barcelona S.L.</div>
        </div>
        <div class="legal">
            <div class="legal__title">
                <div>TEMAS LEGALES</div>
                <div class="legal__title__arrow"></div>
            </div>
            <div class="legal__subcategory">
                <div>Aviso legal</div>
                <div>Política de privacida</div>
                <div>Política de Cookies</div>
            </div>
        </div>
        <div class="sections">
            <div class="sections__title">
                <div>SECCIONES</div>
                <div class="legal__title__arrow"></div>
            </div>
                <div class="sections__subcategory">
                    <div>Elemento 1</div>
                    <div>Elemento 2</div>
                    <div>Elemento 3</div>
                </div>
        </div>
        <div class="sections">
            <div class="sections__title__spacer"></div>
                <div class="sections__subcategory">
                    <div>Elemento 4</div>
                    <div>Elemento 5</div>
                    <div>Elemento 6</div>
                </div>
        </div>
        <div class="contact">
            <div class="contact__title">
                <div>CONTACTO</div>
                <div class="legal__title__arrow"></div>
            </div>
            <div class="contact__subcategory">
                <div>Calle Numancia 73 - 5ºD Sants, Barcelona</div>
                <div class="contact__subcategory__email">
                    <div class="mail-icon"></div>
                    <div>info@nakima.es</div>
                </div>
            </div>
        </div>
        <div class="logo--mobile">
            <img src="../assets/desktop/image 3.png"/>
            <div>&copy; 2020 · Nakima Barcelona S.L.</div>
        </div>
    </footer>
</template>

<style lang="scss">
    footer {
        background: #c6dde3;
        width: 100%;
        height: 150px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 20px 0;
        margin-top: auto;
    }

    .logo {
        font-size: 14px;
        font-weight: 400;
    }

    .logo > img {
        max-width: 200px;
    }

    .logo, .legal, .sections, .contact{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        font-size: 16px;
        padding: 0 50px;

        &__title, &__title__spacer {
            font-weight: 500;
            padding: 10px 0;
            min-height: 40px;
        }

        &__subcategory > div {
            font-weight: 400;
            padding-bottom: 2px;
        }
    }

    .logo--mobile {
        display: none;
    }

    .sections__block {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .contact__subcategory__email {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 5px;
    }

    .mail-icon {
        background: url("../assets/desktop/Component 4.png") no-repeat;
        background-size: 20px;
        width: 20px;
        height: 20px;
    }

    /* Use a media query to add a breakpoint at 800px: */
    @media screen and (max-width: 800px) {

        footer {
            height: 100%;
            flex-direction: column;
            justify-content: stretch;
            align-items: flex-start;
        }

        .logo {
            display: none;
        }

        .logo--mobile {
            font-size: 14px;
            font-weight: 400;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
        }

        .logo--mobile > img {
            max-width: 200px;
        }

        .legal, .sections, .contact {
            padding: 0 20px;
            width: 100%;

            &__title {
                border-bottom: 0.5px solid #5d5d5d;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                &__spacer {
                    display: none;
                }

                &__arrow {
                    background: url("../assets/desktop/Vector.png") no-repeat;
                    background-size: 10px;
                    height: 10px;
                    width: 10px;
                }
            }
        }

        .sections__subcategory > div {
            padding: 5px 10px 5px;
        }

        .legal, .contact {
            &__subcategory {
                display: none;
            }
        }
    }

</style>
<script>
    import MenuOptions from "./Common/mixins/MenuOptions";

    export default {
        name: 'nakima-footer',
        mixins: [MenuOptions]
    }
</script>
