<template>
    <div class="nakima-content">
        <nakima-question :date="'28/01/2020'" :question="'Cuando se hará la esquiada de Nakima?'"/>
        <nakima-answers/>
    </div>
</template>

<script>
    import NakimaQuestion from "./Content/NakimaQuestion";
    import NakimaAnswers from "./Content/NakimaAnswers";

    export default {
        name: 'nakima-content',
        components: {NakimaAnswers, NakimaQuestion},
        data() {
            return {}
        },
        mounted() {

        },
        methods: {},
        computed: {}
    }
</script>
<style lang="scss">
    .nakima-content {
        padding-top: 30px;
        width: 100%;
        height: 100vh;
        margin: 0 120px;
    }

    /* Use a media query to add a breakpoint at 800px: */
    @media screen and (max-width: 800px) {

        .nakima-content {
            margin: 0;
        }
    }

</style>
