<template>
    <header>
        <div class="menu">
            <div class="menu__burger" @click="toggleMenu">
                <img src="../assets/mobile/Component 7.png"/>
            </div>
            <img class="menu__logo" src="../assets/desktop/image 3.png"/>
            <div class="menu__options">
                <div class="menu__options__option" v-for="option in options" :key="option.id">
                    {{ option.name }}
                </div>
            </div>
        </div>
    </header>
</template>

<script>
    import MenuOptions from "./Common/mixins/MenuOptions";

    export default {

        name: 'nakima-header',
        mixins: [MenuOptions],
        methods: {
            toggleMenu() {
                this.$emit('toggleMenu')
            }
        }
    }
</script>
<style lang="scss">
    @import '../assets/variables';

    header {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        .menu {
            position: fixed;
            height: 15vh;
            width: 100%;
            background: $menu-color;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            box-shadow: 0px 2px 4px rgba(142, 142, 142, 0.25);
        }

        .menu__burger {
            display: none;
        }

        .menu__logo {
            max-width: 216px;
        }

        .menu__options {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-self: flex-end;
            padding: 25px;
            font-size: 16px;
            font-weight: bold;
            text-transform: uppercase;

            &__option:hover {
                border-bottom: 5px solid black;
                padding-bottom: 20px;
                margin-bottom: -25px;
            }
        }
    }

    /* Use a media query to add a breakpoint at 800px: */
    @media screen and (max-width: 800px) {

        header {
            .menu {
                align-items: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                max-height: 70px;
            }

            .menu__burger {
                position: absolute;
                align-self: flex-start;
                width: 30px;
                height: 30px;
                display: inline;
                padding-left: 10px;
            }

            .menu__logo {
                max-width: 150px;
                height: auto;
            }

            .menu__options {
                display: none;

            }

            .breadcrumbs {
                padding-left: 15px;
            }
        }
    }

</style>
