<template>
    <div class="nakima-user">
        <div class="nakima-user__image">
            <img :src="require('../assets/desktop/' + imageUrl)" :height="imgHeight" :width="imgWidth"/>
        </div>
        <div>{{ user }}</div>
    </div>
</template>

<script>
    export default {
        name: 'nakima-user',
        props: ['imageUrl', 'user', 'imgHeight', 'imgWidth'],
        data() {
            return {}
        },
        mounted() {

        },
        methods: {},
        computed: {}
    }
</script>
<style lang="scss">
    .nakima-user {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .nakima-user__image {
        margin: 0 10px;
    }

    .nakima-user__image > img {
        height: 100% !important;
        border-radius: 50%;
    }

    /* Use a media query to add a breakpoint at 800px: */
    @media screen and (max-width: 800px) {

        .nakima-user {
            &__title {

            }

            &__content {

            }
        }
    }

</style>
