<template>
    <div class="answers">
        <div class="answers__image"></div>
        <div>{{ answers }} respuestas</div>
    </div>
</template>

<script>
    export default {
        name: 'answers',
        props:['answers'],
        data() {
            return {}
        },
        mounted() {

        },
        methods: {},
        computed: {}
    }
</script>
<style lang="scss">
    .answers {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .answers__image {
        background: url('../../assets/desktop/Component 3.png') no-repeat;
        background-size: 15px;
        height: 20px;
        width: 20px;
        object-fit: contain;
        margin-right: 10px;
    }

    /* Use a media query to add a breakpoint at 800px: */
    @media screen and (max-width: 800px) {

        .answers {
            &__title {

            }

            &__content {

            }
        }
    }

</style>
