<template>
    <div class="likeness">
        <div class="likeness__likes-image"></div>
        <div class="likeness__number">{{ likes }}</div>
        <div class="likeness__dislikes-image"></div>
        <div class="likeness__number">{{ dislikes }}</div>
    </div>
</template>

<script>
    export default {
        name: 'likeness',
        props: ['likes', 'dislikes'],
    }
</script>
<style lang="scss">
    .likeness {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 10px;
        min-width: 100px;
    }

    .likeness__likes-image {
        background: url('../../assets/mobile/Vector 1.png') no-repeat;
        background-size: 15px;
        height: 20px;
        width: 20px;
        object-fit: contain;
        padding: 0 5px;

        &:hover {
            background: url('../../assets/desktop/like.png') no-repeat;
            background-size: 25px;
            height: 25px;
            width: 25px;
            object-fit: contain;
        }
    }

    .likeness__number {
        padding: 0 5px;
    }

    .likeness__dislikes-image {
        background: url('../../assets/mobile/Vector 2.png') no-repeat;
        background-size: 15px;
        height: 20px;
        width: 20px;
        object-fit: contain;
        padding: 0 5px;

        &:hover {
            background: url('../../assets/desktop/dislike.png') no-repeat;
            background-size: 25px;
            height: 25px;
            width: 25px;
            object-fit: contain;
        }
    }

    /* Use a media query to add a breakpoint at 800px: */
    @media screen and (max-width: 800px) {

        .likeness {
            &__title {

            }

            &__content {

            }
        }
    }

</style>
