<template>
    <div class="pagination">
        <div class="pagination__total"><span class="pagination__current-page">1</span>/5</div>
        <div class="pagination__arrows"></div>
    </div>
</template>

<script>
    export default {
        name: 'pagination',
    }
</script>
<style lang="scss">
    .pagination {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 40px;
    }

    .pagination__total {
        margin-right: 20px;
    }

    .pagination__current-page {
        color: #c6dde3;
    }

    .pagination__arrows {
        background: url('../../assets/desktop/Component 2.png') no-repeat;
        background-size: 50px;
        height: 50px;
        width: 50px;

    }

    /* Use a media query to add a breakpoint at 800px: */
    @media screen and (max-width: 800px) {
        .pagination {
            padding-top: 20px;
        }

        .pagination__arrows {
            display: none;
        }
    }

</style>
