<template>
    <div class="views">
        <div class="views__image"></div>
        <div>{{ views }} visualizaciones</div>
    </div>
</template>

<script>
    export default {
        name: 'views',
        props: ['views'],
    }
</script>
<style lang="scss">
    .views {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-right: 10px;
    }

    .views__image {
        background: url('../../assets/desktop/Component 1.png') no-repeat;
        background-size: 20px;
        height: 20px;
        width: 20px;
        object-fit: contain;
        padding: 10px;
        margin-right: 10px;

        &:hover {
            background: url('../../assets/desktop/visualizaciones.png') no-repeat;
            background-size: 25px;
            height: 25px;
            width: 25px;
            object-fit: contain;
        }
    }

    /* Use a media query to add a breakpoint at 800px: */
    @media screen and (max-width: 800px) {

        .views {
            &__title {

            }

            &__content {

            }
        }
    }

</style>
