<template>
    <div class="nakima-test">
        <div class="nakima-test__responsive-menu" v-if="showMenu">
            <nakima-menu/>
        </div>
        <div class="nakima-test__app">
            <nakima-header @toggleMenu="toggleMenu"></nakima-header>
            <div class="nakima-test__app__spacer"></div>
            <div class="nakima-test__app__breadcrumbs">
                <span class="nakima-test__app__breadcrumbs__item">Elemento 1</span>
                <span class="nakima-test__app__breadcrumbs__separator"></span>
                <span class="nakima-test__app__breadcrumbs__item">General</span>
                <span class="nakima-test__app__breadcrumbs__separator"></span>
                <span class="nakima-test__app__breadcrumbs__item">Esquiada Nakima</span>
            </div>
            <div class="nakima-test__app__body">
                <nakima-aside :toggleMenu="showMenu"></nakima-aside>
                <nakima-content></nakima-content>
            </div>
            <nakima-footer/>
        </div>
    </div>
</template>

<script>
    import NakimaHeader from "./components/NakimaHeader";
    import NakimaAside from "./components/NakimaLateral";
    import NakimaContent from "./components/NakimaContent";
    import NakimaMenu from "./components/Menu/NakimaMenu";
    import NakimaFooter from "./components/NakimaFooter";

    export default {
        name: 'app',
        components: {NakimaFooter, NakimaMenu, NakimaContent, NakimaAside, NakimaHeader},
        data() {
            return {
                showMenu: false
            }
        },
        methods: {
            toggleMenu() {
                this.showMenu = !this.showMenu
            }
        },
    }
</script>
<style lang="scss">
    @import 'assets/variables';
    @import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500&display=swap');

    .nakima-test {
        background: $main-color;
        height: 100%;
        color: $font-color;
        font-family: 'Roboto', sans-serif;
        overflow: auto;
    }

    .nakima-test__responsive-menu {
        display: none;
    }

    .nakima-test__app {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    .nakima-test__app__spacer {
        height: 15vh;
    }

    .nakima-test__app__body {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 155vh;
    }

    .nakima-test__app__breadcrumbs {
        background-color: #ffffff;
        font-size: 13px;
        height: 10vh;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 10vw;
    }

    .nakima-test__app__breadcrumbs__item {
        padding: 0 5px;

        &:last-child {
            color: $blue-font-color;
        }
    }

    .nakima-test__app__breadcrumbs__separator {
        background: url("assets/mobile/Vector.png") no-repeat;
        height: 20px;
        width: 20px;
    }

    /* Use a media query to add a breakpoint at 800px: */
    @media screen and (max-width: 800px) {

        .nakima-test__responsive-menu {
            position: relative;
            float: left;
            background: #c6dde3;
            height: 100vh;
            display: block;
            width: 45%;
        }

        .nakima-test__responsive-menu > .nakima-menu {
            margin-top: 70px;
        }

        .nakima-test__app__spacer {
            max-height: 70px;
        }

        .nakima-test__app__body {
            width: auto;
        }
    }

</style>
